-var titulo = "Titulo Principal"
-var titulos = ["Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
-var  usuario = "David"
mixin caja(imagen, titulo, contenido)
	.caja 
		.caja__imagen: img(src="images/"+imagen, alt="")
		.caja__contenido 
			h3=titulo
			p=contenido
			a.boton Leer más
doctype html
html
	include head.pug
	body
		header
			h1 PlatziGames
			if usuario
				a Hola #{usuario}
			else
				a.boton Registro

block contenidos