extend componentes/plantilla.pug 
block contenidos
		section.intro
			.intro__imagen: img(src="images/imagen.png", alt="")
			.intro__contenido
				h2= titulo
				p
					|	Lorem ipsum dolor sit, amet consectetur
					|	adipisicing elit. Sit nobis pariatur sapiente 
					|	quod, laboriosam minus facilis hic, voluptatum 
					|	veniam provident, earum inventore eveniet quis 
					|	animi perferendis ad dolor amet tempora.
					span.
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
				a.boton Leer más
		main.contenido 
			each i in titulos
				+caja('imagen.png', i, 'Lorem ipsum dolor sit, amet consectetur')


